{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Contact</h1>

    {{ form_start(contact_form) }}
        {{ form_widget(contact_form) }}
        <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(contact_form) }}
</div>
{% endblock %}
